ADMIN_URL=https://admin.staging.dispattch.dev/
ADMIN_USERNAME=test
ADMIN_PASSWORD=dev
MERCHANT_URL=https://merchants.staging.dispattch.dev/login/merchant
MERCHANT_EMAIL=gavojor316@cadinr.com
MERCHANT_PASSWORD=12121212
COURIER_URL=https://courier.staging.dispattch.dev/login/supervisor
COURIER_EMAIL=info@slowtrack.com
COURIER_PASSWORD=dev12345
