ADMIN_URL=https://admin.staging.dispattch.dev/
ADMIN_USERNAME=test
ADMIN_PASSWORD=dev
COURIER_URL=https://courier.staging.dispattch.dev/login/supervisor
COURIER_EMAIL=info@fasttracklogistics.com
COURIER_PASSWORD=StrongPassword123
